# pre-commit is a tool to perform a predefined set of tasks manually and/or
# automatically before git commits are made.
#
# Config reference: https://pre-commit.com/#pre-commit-configyaml---top-level
#
# Common tasks
#
# - Run on all files:   pre-commit run --all-files
# - Register git hooks: pre-commit install --install-hooks
#
exclude: ^vendor/.*
repos:
  - repo: https://github.com/google/go-jsonnet
    rev: v0.21.0
    hooks:
      - id: jsonnet-format
      # To workaround https://github.com/google/go-jsonnet/issues/591, we run
      # the jsonnet-lint hook once per .jsonnet / .libsonnet file.
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint cluster.jsonnet
        args: [-J, vendor, dashboards/activity.jsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint cluster.jsonnet
        args: [-J, vendor, dashboards/cluster.jsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint common.libsonnet
        args: [-J, vendor, dashboards/common.libsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint jupyterhub.jsonnet
        args: [-J, vendor, dashboards/jupyterhub.jsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint jupyterhub.libsonnet
        args: [-J, vendor, dashboards/jupyterhub.libsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint support.jsonnet
        args: [-J, vendor, dashboards/support.jsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint usage-report.jsonnet
        args: [-J, vendor, dashboards/usage-report.jsonnet]
      - id: jsonnet-lint
        pass_filenames: false
        name: jsonnet-lint user.jsonnet
        args: [-J, vendor, dashboards/user.jsonnet]

  # Autoformat: Python code, syntax patterns are modernized
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus

  # Autoformat: Python code
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        # args ref: https://github.com/PyCQA/autoflake#advanced-usage
        args:
          - --in-place

  # Autoformat: Python code
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  # Autoformat: Python code
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black

  # Misc...
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    # ref: https://github.com/pre-commit/pre-commit-hooks#hooks-available
    hooks:
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs

  # Lint: Python code
  - repo: https://github.com/PyCQA/flake8
    rev: "7.3.0"
    hooks:
      - id: flake8

# pre-commit.ci config reference: https://pre-commit.ci/#configuration
ci:
  autoupdate_schedule: monthly
